/* MODAL PERFIL */

.perfil__editar {
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 80%;
    max-width: 900px;
    height: 50%;
    top: 18.5%;
    left: 10%;
    border-radius: 5px;
    display: none;
}

.perfil_editar_open {
    display: block;
}